<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Todo List</title>
    <link rel="stylesheet" href="{{ url_for('templates', path='styles.css') }}">
</head>
<body>
    <a href="/"><ion-icon name="arrow-undo-outline"></ion-icon></a>
    <h1>Bin</h1>
    <ul>
        {% for trash in bin_list %}
            <li>
                <span>
                    <h3>Nom : </h3> {{ trash.Name }}
                </span>
                <span>
                    <h3>Date de création : </h3> {{ trash.Date }}
                </span>
                <span>
                    <h3>Deadline : </h3> {{ trash.Deadline }}
                </span>
                <span>
                    <a class="restaure" href="/restaure/{{ loop.index0 }}">Restaurer</a>
                </span>
                <span>
                    <a class="delete" href="/deletetrash/{{ loop.index0 }}">For ever</a>
                </span>
            </li>
        {% endfor %}
    </ul>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>