<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Todo List</title>
    <link rel="stylesheet" href="{{ url_for('templates', path='styles.css') }}">
</head>
<body>
    <a href="/bin"><ion-icon name="backspace-outline"></ion-icon></a>
    <h1>Todo List</h1>
    <a href="/login"><ion-icon name="person-outline"></ion-icon></a>
    <form action="/add" method="post">
        <input type="text" name="todo" placeholder="Enter a new todo item" required>
        <button type="submit">Add</button>
        <div class="button-form">
            <input type="date" name="deadline" required>
            <select name="tag">
                <option value="Todo">Todo</option>
                <option value="Doing">Doing</option>
                <option value="Done">Done</option>
            </select>
        </div>
    </form>
    <div class="todolist-container">
        <ul>
        {% for item in db %}
                <li class="{{ item.tag }}">
                    <span>
                        <h3>Nom : </h3> {{ item.nom }}
                        <a href="edit/{{ item.id }}/{{ item.tag }}"><ion-icon name="checkmark-outline"></ion-icon></a>
                    </span>
                    <span>
                        <h3>Tag : </h3> {{ item.tag }}
                    </span>
                    <span>
                        <form action="/edit/{{ item.id }}" method="post" >
                            <h3>Description : </h3> <input type="text" name="description" placeholder="{{ item.description }}">
                            <input type="submit" value="Apply changes">
                        </form>
                    </span>
                    <span>
                        <h3>Deadline : </h3> {{ item.deadline }}
                    </span>
                    <span>
                        <h3>Temp de création : </h3> {{ item.createdtime }}
                    </span>
                    <span>
                        <a class="delete" href="/delete/{{ item.id }}">Delete</a>
                    </span>
                </li>
        {% endfor %}
        </ul>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

